/*
Project Name: SeizeIt
CSS Author: Anmol
Author Designation: Web Designer
Framework Used: Bootstrap
Organization: Code Brew Labs
*/

@media (max-width:768px) {
  .download-app-block a, .main-bannar a {
    margin-right: 0px!important;
    margin-bottom: 10px;
    display: inline-block;
    }
}