/*
Project Name: Job Platform
CSS Author: Navneet
Contact No : +919814097975;
Author Designation: Web Designer
Framework Used: Bootstrap
Organization: Code Brew Labs
*/

@font-face {
    font-family: "Google Sans";;
    src: url('../fonts/GoogleSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Google Sans";;
    src: url('../fonts/GoogleSans-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Google Sans";;
    src: url('../fonts/GoogleSans-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}


* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    font-family: "Google Sans";
    font-weight: 400;
    font-style: normal;
    background: #fff;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

.display-none {
    display: none !important;
}
.full-width {
    width: 100%!important;
}
.btn {
  width: fit-content;
  width: -moz-fit-content;
  background-color: #8BC541;
  padding: 14px 30px;
  font-size: 16px;
  color: #324147;
  letter-spacing: 1.8px;
  /*box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);*/
  position: relative;
  transition: all 0.4s ease;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0;
  text-transform: uppercase;
  /* btn text */
}
.btn span {
  z-index: 1;
  text-align: center;
  color: #fff;
  font-size: 16px;  
  font-weight: 600;
}
.btn:before, .btn:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    transition: all 0.4s ease;
    background-color: #71a52f;
    border-radius: 4px;
}
.btn:before {
  left: 0;
}
.btn:after {
  right: 0;
}
.btn:hover {
  transition: all 0.4s ease;
  box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  color: white;
}
.btn:hover:before, .btn:hover:after {
  width: 51%;
}
button:focus {
  outline: none;
}
.list-inline li {
  list-style: none;
  display: inline-block;
}
/*Homepage Css*/
header {
  background: #fff;
}
header nav {
    background: transparent;
}
header nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
header nav a {
  font-size: 17px;
  transition: all 0.3s ease;
}
header.shrink {
  min-height: 35px;
}
header.shrink .navbar-brand {
  font-size: 10px;
  padding: 4px 0;
}

header.shrink .navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}
header .dropdown-toggle::after {
    display: none;
}
header .nav-link.dropdown-toggle {
    color: #000;
}
header .navbar-brand img {
    height: 38px;
    transition: all .3s ease-in-out 0s;
}

header.shrink {
  background: #fff;
}
header .shrink .navbar-brand img{
    height: 24px;
    transition: all .3s ease-in-out 0s;
} 
.login-btn {
   border: 1px solid #8BC541;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #8BC541;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 18px;
  padding: 6px 15px;
}
.signup-btn {
  border: 1px solid #8BC541;
  border-radius: 4px;
  background-color: #8BC541;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 18px;
  padding: 6px 15px;
}
.header-setting {
  margin-top: 60px;
}
/*Main Bannar*/
.main-bannar {
  background-image: url('http://localhost:8000/assets/images/frontend/images/banner-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 60px);
  padding-top: 25vh;
}
.main-bannar h4 {
  color: #241E1F;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -0.6px;
  line-height: 60px;
}
.main-bannar p {
  color: #241E1F;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 30px;
}
/*Nexe Section*/
.join-our-team {
  padding: 70px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.join-our-team .bottom-pattern {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.join-our-team h4 {
  color: #241E1F;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 41px;
}
.join-our-team p {
  opacity: 0.5;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.join-card {
  border-radius: 14px;
  background-color: #FFFFFF;
  box-shadow: inset 0 3px 0 0 #57C5E9, 0 1px 6px 0 rgba(0,0,0,0.08);
  overflow: hidden;
}
.join-card .image-block {
  height: 232px;
}
.join-card .image-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.join-btn {
  border: 1px solid #8BC541;
  border-radius: 4px;
}
.join-card h5 {
  color: #241E1F;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px;
}
.join-card .p-3 p {
  opacity: 0.86;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.join-card button {
  border: 1px solid #8BC541;
  border-radius: 4px;
  background: #fff;
  padding: 8px 25px;
  color: #8BC541;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  transition: all .3s ease-in-out 0s;
}
.join-card button:hover {
  background: #8BC541;
  color: #fff;
}
/*Next Secion*/
.our-clients {
  background-color: #1AA7D5;
  padding: 70px 0;
}
.our-clients h4 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 41px;
}
.our-clients p {
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.client-card {
  border-radius: 14px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.08);
  overflow: hidden;
  margin-top: 30px;
}
.client-card h5 {
  color: #241E1F;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}
.client-card h6 {
   opacity: 0.86;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  display: block;
  margin-bottom: 20px;
}
/*Next Section*/
.our-services-solution {
  padding: 70px 0;
}
.our-services-solution .nav-pills .nav-link.active {
  padding: 0px;
  background: transparent;
  color: #1AA7D5;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}
.our-services-solution .nav-pills .nav-link {
  padding: 0px;
  color: #241E1F;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 30px;
} 
.slot-card {
  border-radius: 14px;
  background-color: #FFFFFF;
  box-shadow: inset 0 3px 0 0 #1AA7D5, 0 1px 6px 0 rgba(0,0,0,0.08);
  position: relative;
  padding: 25px 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.slot-card h5 {
  color: #241E1F;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 20px;
}
.slot-card span {
  opacity: 0.86;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 60px;
  display: block;
}
.slot-card .right-image {
  position: absolute;
  right: 0px;
  bottom: -20px;
}
.slot-card button {
    border: 1px solid #8BC541;
    border-radius: 4px;
    background: #fff;
    padding: 10px 25px;
    color: #8BC541;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    transition: all .3s ease-in-out 0s;
    margin-bottom: 20px;
}
.slot-card button:hover {
    background: #8BC541;
    color: #fff;
}
/*Footer*/
footer {
  background-color: #1AA7D5;
  padding: 70px 0;
}
footer p {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
}
footer h5 {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 17px;
}
footer a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 34px;
}


/* dashboard */

.dp-round{height:28px;width:28px;object-fit:cover;}
.post-job{height: 40px;
  width: 135px;
  border-radius: 6px;
  background-color: #8BC541;
   color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
  border:0px;}

.top-search .form-control{  height: 41px;
  width: 322px;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 4px;
  background-color: #FFFFFF;}
.top-search{position:relative;}
.search-pos{position:absolute;top: 8px; left: 10px;}
.top-search input::placeholder{ 
opacity: 0.5;
  color: #000000;
  font-size: 14px;}

.dash-top li{padding:0px 13px;}
.dash-top li a{
	color: #241E1F !important;
  font-size: 14px;
  font-weight: 600 !important;}

button:focus{outline:0px;box-shadow:none;}
.form-control:focus{outline:0px;box-shadow:none;}
.job-posted{padding:30px 0px;}

.outer-job{
  min-height: 128px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: inset 0 2px 0 0 #B582D9, 0 1px 6px 0 rgba(0,0,0,0.06);
  padding:20px;
  margin: 8px 0px;
}

.bg-all{background-color:#f7f7f7;}

.job-post{ color: rgba(0,0,0,0.44);
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 24px;}

.job-number{color: #241E1F;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;}

.outer-job2{  box-shadow: inset 0 2px 0 0 #71C86E, 0 1px 6px 0 rgba(0,0,0,0.06);}
.outer-job3{box-shadow: inset 0 2px 0 0 #3E94E7, 0 1px 6px 0 rgba(0,0,0,0.06); }
.tabs-outer{min-height: 112px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
  padding:5px 0px;
  margin-bottom:10px;
}

.first-tab{ height: 48px;
  display: block;
    padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
      display: flex;
    align-items: center;
	 color: #241E1F;
	border-left:1px solid transparent; 
}


.first-tab.active{ 
  background-color: rgba(26,167,213,0.06);
   color: #1AA7D5;
   border-left:1px solid #1AA7D5;
   font-weight:600;
}

.outer-activity{ min-height: 336px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
  width:100%;
 margin:10px 0px;
}

.activity-head{ min-height: 57px;
  background-color: #f7f7f7;
  padding:20px;
  color: #241E1F;
  font-size: 16px;
  font-weight: bold;
  }

.scroll-cont{padding: 20px 0px 20px 20px;
height:336px;
overflow-y:auto;
}

.text-bold{font-weight:600;}
.scroll-cont p{
	color: #241E1F;
  font-size: 14px;
  padding:8px;
  margin:0px;}

.time-sec{ opacity: 0.44;
  color: #000000 !important;
  font-size: 14px !important;
  align-self: flex-end;}

.carrier-site{ min-height: 200px;
  border-radius: 6px;
  background-color: #1AA7D5;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
  padding:15px;
  margin:10px 0px;
  width:100%;
}

.carrier{color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;}
  
.carrier-site2{color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;}

.carrier-btn{  height: 49px;
  width: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #241E1F;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;}

.gold-site{min-height: 224px;
  width:100%;
  border-radius: 6px;
  background: linear-gradient(360deg, #CCC25C 0%, #AD852D 100%);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
   padding:15px;
  margin:10px 0px;
}

.carrier-gold{
	color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 24px;}

.total-jobs{color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;}

.large-no{color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;}

.big-text{font-size:32px;font-weight: 700;}
.carrier-gold2{ color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;}

.outer-right{ border-radius: 14px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
  
}
.job-pad{padding:20px;}
.jobs-head{color: #241E1F;
  font-size: 24px;
  font-weight: bold;}
.top-search2 .form-control {
    height: 32px;
    width: 248px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    background-color: #FFFFFF;
}
.top-search2{
    position: relative;
}

.search-pos2 {
    position: absolute;
    top: 4px;
    left: 10px;
}
.top-search2 input::placeholder{ 
  color: rgba(0,0,0,0.44);
  font-size: 13px;}
.job-nav{padding-top:10px;}
.all-time{ 
color: #241E1F;
  font-size: 14px;
   height: 32px;
  width: 96px;
  border-radius: 4px;
  background-color: #F6F7FA;
  border:0px;}

.job-nav .dropdown-toggle::after{border:0px;}

.job-nav li{padding:5px 15px 5px 0px;}
.dash-table .table tr th{min-height: 48px;
  background-color: #F6F7FA;
   color: rgba(0,0,0,0.44);
  font-size: 13px;
  font-weight: bold;
  text-transform:uppercase;
  }
.dash-table .table tr td{ 
color: #241E1F;
font-size: 14px;}


.open{height: 24px;
  width: 88px;
  border-radius: 4px;
  background-color: #8BC541;
   color: #FFFFFF;
  border:0px;
  font-size: 14px;
  font-weight: bold;}

.closed{background-color: #CB514B !important;}

.footer{margin-top:30px;
padding:20px 0px;}
.footer-nav li a{opacity: 0.44;
  color: #000000;
  font-size: 14px;
  padding:3px 15px;}

.copy-right{ opacity: 0.89;
  color: rgba(0,0,0,0.44);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;}

.footer-nav{justify-content:center;}
.pagination-sec .pagination{margin-bottom:0px;float:right;}
.pagination-sec .pagination li a{border:0px;border-radius:50%;color:#000;
	height: 27px;
  width: 27px;
  border-radius: 12px;
  text-align: center;}

 .pagination-sec .pagination li a:hover{background-color: #1AA7D5; color:#fff;}
.pagination-sec .pagination .left-img:hover{background:none;}
 .pagination-sec .pagination .right-img:hover{background:none;}
.pagination-sec .pagination li a.active{background-color: #1AA7D5; color:#fff;}
.pagination-sec .pagination li{padding:0px 2px ;}
.pagi-pera{color: #232323;font-size: 14px;margin:0px;padding:10px 0px;}

/* end pegi */
.first-tab:hover{background-color: rgba(26,167,213,0.06);
    color: #1AA7D5;
    border-left: 1px solid #1AA7D5;}
.table-dp{height: 24px;
  width: 24px;
  border-radius:50%;object-fit:cover;}
.name-dp{
color: #241E1F;
font-size: 14px;
white-space: nowrap;
margin-left: 10px;}

.login{ 
  color: #241E1F;
  font-size: 20px;
  font-weight: bold;}

.login-form .form-control{
 height: 48px !important;
  border: 1px solid rgba(0,0,0,0.08) !important;
  background-color: #FFFFFF;
}

.login-form input::placeholder{color: #241E1F;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 32px;
  font-weight:500;}


.login-form label{ opacity: 0.99;
  color: #282525;
  font-size: 12px;
  font-weight: 500;
  text-transform:uppercase;}

.show-pos{position:relative;}
.show-btn{  color: rgba(0,0,0,0.52);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  position:absolute;
top: 47px;
right: 10px;}

.forgot-pw{   color: #1AA7D5;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
  float:right;}

.remember-me{color: #241E1F !important;
  font-size: 14px !important;
  opacity: 1 !important;
    text-transform: capitalize !important;
  }

.model-radius{border-radius:0px;}
.login-btn-model{height: 48px;
  width: 100%;
  border-radius: 6px;
  background-color: #8BC541;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
  border:0px;
  margin:30px 0px;}

.sign-text{color: #282525;
  font-size: 14px;
  font-weight: 600;
  text-align:center;}
.sign-up{color:#1AA7D5;font-weight:bold;}


/* employer-registration */
.text-section{
  background-color: #1AA7D5;
  padding:50px;
}
.company-head{ color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  padding-bottom:20px;
  margin-bottom: 0px;}

.comp-pera{color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 0px;}

.header-shadow{box-shadow: 0 1px 6px 0 rgba(0,0,0,0.11);}
/* .form-section22{height:calc (100% - 64px);} */
/* .side-img{height: 648px;
object-fit: cover;
width:100%;} */

.company-account{color: #241E1F;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 40px; margin-bottom:0px;
  padding:15px 0px;}

.main-space{padding:25px 0px;
height: calc(100vh - 136px);
}
.company-pera{ opacity: 0.44;
  color: #000000;
  font-size: 16px;
  margin-bottom:0px;}

.logo-sec{ height: 120px;
  width: 120px;
  background-color: #F9FAFB;
  border-radius:50%;
  display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
	position: relative;
	}

.logo-name{  opacity: 0.44;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.38px;
  line-height: 30px;}

.brows-plus{position:absolute;right:0px;bottom:0px;}
.login-form .form-control {
    border: 1px solid rgba(0,0,0,0.11);
    border-radius: 4px;
    background-color: #FFFFFF;
    height: calc(2.2em + .75rem + 2px);
}

.flag-sec {
    height: 49px;
    border: 1px solid rgba(0,0,0,0.08);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.flag-btn{border:0px;background:transparent;}
.submit-button{
	height: 48px;
  width: 152px;
  border-radius: 6px;
  background-color: #8BC541;
	color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
  border:0px;
}
.login-footer{color: #1AA7D5;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;}

.account-already{color:#282525;
 font-size: 14px;
  font-weight: bold;
  margin-bottom:0px;
  text-align: right;
}



/* landing-page css start */
.landing-nav{
	 
	background-image:url("images/img_recruiters.png"); 
	position:relative;
	background-size:cover;
	background-position:center;}
.landing-bg{background-color:rgba(0,0,0,.5);
 height: 636px;
}


/* buy subscription plan */

.table-outer{border-right:1px solid rgba(0,0,0,.08);
border-bottom:1px solid rgba(0,0,0,.08);
padding:15px;
}

.incluse{ color: #241E1F;
 margin-bottom:0px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  padding-bottom:17px;}

.currency{color: #1AA7D5;
  font-size: 14px;
  font-weight: 600;}

.text-big{font-size:18px;font-weight:600;}
.validity{ color: rgba(0,0,0,0.5);
  font-size: 14px;font-weight:500;}

.validity2{ color: #241E1F;
  font-size: 16px;
  margin-bottom:0px;}

.min-h{min-height:155px;}
.min-h2{min-height:80px;}
.buy-later{height: 49px;
  width: 153px;
  border: 1px solid #8BC541;
  border-radius: 6px;
   color: #8BC541;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
  background:transparent;}

/* job posted */
.job-section{padding:30px 0px;min-height: calc(100vh - 239px );}
.job-post-head{
	color: #241E1F;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 40px;
  padding:10px 0px;
}

.outer-jobs{border-radius: 14px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
padding:25px;
margin:20px 0px;}


.login-form2 .form-control{
 height: 48px !important;
  border: 1px solid rgba(0,0,0,0.08) !important;
  background-color: #FFFFFF;
}

.login-form2 input::placeholder{color: #241E1F;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
  font-weight:600;}


.login-form2 label{ opacity: 0.99;
  color: #282525;
  font-size: 12px;
  font-weight: 600;
  text-transform:uppercase;}
.login-form2 select{color: #241E1F;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
font-weight:600;}

.height-100{height:auto !important;resize:none;}
.search-place input::placeholder{color: rgba(0,0,0,0.5) !important;}
.small-url{color: rgba(0,0,0,0.44);font-size: 13px;}

.butten-well{position:relative;
height: 40px;
  min-width: 112px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.06);
	 opacity: 0.68;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-align:center;display:flex;align-items:center;justify-content: center;
}
.pos-cross{position:absolute;right:-10px;top:-10px;}
.well-list li{margin:5px 10px;}

.submit-button22 {
    height: 56px;
    width: 168px;
    border-radius: 6px;
    background-color: #8BC541;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-align: center;
    border: 0px;
}

.time-ago{ 
   color: rgba(0,0,0,0.5);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: right;}

.left-img-cont{display:flex;width: 95%;align-items:center;}
.product-pos{margin:0px;  color: #161616;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;}

.profile-wrap{ border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
  padding:20px;
  position:relative;
}

.profile-wrap-in{ 
  position:relative;height: 100px;
  width: 100px;
  border-radius:50%;
  margin: 0 auto;
    overflow: hidden;
}
.img-size{height: 100px;
  width: 100px;
  border-radius:50%;
  object-fit:cover;
  margin:0 auto;
  display:block;}

.upload-logo{color: #1AA7D5;
  font-size: 14px;
  font-weight: bold;
  padding: 25px 0px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

.file-pos{position:absolute;top:0px;
left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	opacity:0;
}

.c-pw{height: 49px;
  border: 1px solid #8BC541; color: #8BC541;
  text-align:center;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
    margin: 25px 0px;
	background:transparent;}

.headding-tech{color: #241E1F;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.5px;
  width:80%;
  margin:0px;}

.edit-profiles{ color: #1AA7D5;
  font-size: 14px;
  font-weight: bold;
  margin-left: auto;}

.email-head{opacity: 0.5;
  color: #000000;
  font-size: 13px;
  font-weight: bold;text-transform:uppercase;}

.gmail-details{color: #161616;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0px;}

.form-flag .dropdown-toggle::after{border:0px;}
.save-button{ height: 48px;
  width: 152px;
  border-radius: 6px;
  background-color: #8BC541;
   color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
  border:0px;margin:20px 0px;}



.avatar-upload {
    display: inline-block;
    position: relative;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    bottom: -8px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

/* .avatar-upload .avatar-edit input + label {
display: inline-block;
width: 36px;
height: 36px;
margin-bottom: 0;
border-radius: 100%;
background: #FFFFFF;
border: 1px solid transparent;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28);
cursor: pointer;
font-weight: normal;
transition: all 0.2s ease-in-out;
position: absolute;
  bottom: 10px;
  right: 0px;
  padding: 5px;
} */
/* .avatar-upload .avatar-edit input + label:hover {
background: #f1f1f1;
border-color: #d6d6d6;
} */

.avatar-upload .avatar-preview {
    width: 132px;
    height: 132px;
    position: relative;
    border-radius: 100%;
    border: 4px solid #F8F8F8;
    overflow: hidden;
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-preview #image_src {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}






/* blogs */
.out-blogs{ min-height: 368px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
  margin:15px 0px;
}

.blog-img{margin-bottom:10px;border-radius: 7px 7px 0 0; height: 248px;width:100%;object-fit:cover;}
.text-blog{padding:15px;}
.text-blog h3{color: #241E1F;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  }

.post-ago{ color: rgba(0,0,0,0.55);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 24px;}

.head-shdow{box-shadow: 0 1px 6px 0 rgba(0,0,0,0.11);}
.bread-sec .breadcrumb{background-color:transparent;padding:10px 0px;}
.bread-sec .breadcrumb li a{color:rgba(0,0,0,0.44);
  font-size: 14px;
  font-weight: 600;}

.bread-sec .breadcrumb-item.active {
    color: #161616;
	font-size: 14px;
  font-weight: 600;
}
.work-head{ color: #241E1F;
  font-size: 32px;
  font-weight: 600;
  padding-bottom:20px;}

.img-size-cart{ 
height: 48px;
  width: 48px;
  border-radius:50%;
  margin-right:10px;}

.date-time{margin-bottom:0px;
 opacity: 0.44;
  color: #000000;
  font-size: 13px;
  font-weight: 600;}

.admin-name{ color: #241E1F;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:0px;}

.img-size-cart2{width:100%;
height: 365px;
  border-radius: 8px;
  object-fit:cover;
  margin-bottom:10px;}

.blog-peera{padding:15px 0px;
color: #241E1F;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin:0px;}

.blog-head{color: #241E1F;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight:600;
  padding-top: 10px;}

.written-by{opacity: 0.5;
  color: #000000;
  font-size: 13px;
  font-weight: bold;}

.product-design{ border-radius: 14px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
  padding:20px;
}

.job-id{opacity: 0.5;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-design-head{ color: #241E1F;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;}

.job-pera2{ color: #241E1F;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;}

.show-details{color: #1AA7D5;
  font-size: 13px !important;
  font-weight: 600;
 display: block;
 text-align: center;}
.down-btn{ font-size: 16px !important;}
.need-help{ border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: inset 0 2px 0 0 #1AA7D5, 0 1px 6px 0 rgba(0,0,0,0.06);
  padding:15px;
}
.need-pera{color: #241E1F;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  padding-bottom:10px;}

.hire-best{ opacity: 0.5;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;}
  
 .view-rec{height: 49px;
  width: 100%;
  border: 1px solid #1AA7D5;
  border-radius: 4px;
  background-color: #FFFFFF;
   color: #1AA7D5;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom:20px;}
  
 .table-job{margin:20px 0px;} 
 .pdf-file{ color: #1AA7D5;
  font-size: 14px;
  font-weight: 600;} 
  
 .in-progress{height: 24px;
  width: 148px;
  border-radius: 4px;
  background-color: #9164D5;
   color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  border:0px;} 
  
  .btn-clr-1{background-color: #57C5E9 !important;}
  .btn-clr-2{ background-color: #8BC541 !important;}
  .btn-clr-3{ background-color: #CB514B !important;}
  .btn-clr-3{ background-color: #47AC80!important;} 

.job-type{
  color: rgba(0,0,0,.5);
  font-size: 13px;
  font-weight: bold;
  transition:all .5s;
  margin-bottom:0px;
  text-transform: uppercase;

 }
  
 .job-type2{ 
 color: #241E1F;
  font-size: 14px;
  padding:5px 0px;
  margin:0px;} 
  
  .job-type22{ border-top:1px solid rgba(0,0,0,0.05);
   border-bottom:1px solid rgba(0,0,0,0.05);
   margin:15px 0px;
   padding:15px 0px;}
  
 .skill-required{ opacity: 0.5;
  color: #000000;
  font-size: 13px;
  font-weight: bold;} 
  
 .sitemap{height: 40px;
  width: 112px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.06);
  opacity: 0.68;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

} 
  
.link-url{ color: #1AA7D5;
  font-size: 14px;
  font-weight: 600;}  
  
 .sitemap2{ height: 40px;
  width: auto;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.06);
  opacity: 0.68;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
	padding:5px 8px;
	margin-bottom:5px;

}  
  
 .active22{color: #8BC541 !important;} 
 .img-size-cart22{ height: 96px; width: 96px; border-radius:50%;margin-right:15px;}
 .info-tech{ opacity: 0.5;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  margin-bottom:0px;
  text-transform: uppercase;} 
  
 .profile{color: #1AA7D5;
  font-size: 13px;
  font-weight: 600;} 
  
 .admin-name22{color: #241E1F;
  font-size: 20px;
  font-weight: bold;
  margin:0px;} 
  
  .info{ color: #241E1F;
  font-family: "Google Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  padding:5px;}
  
  
 .product-design2{ border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06);
   color: #241E1F;
  font-family: "Google Sans";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
 }
  
 .hire-head{ min-height: 57px;
  background-color: #f7f7f7;
  padding:15px;} 
  
 .fees-bg{background-color: #f7f7f7;
  padding:15px;margin-bottom:15px;} 
  
  .fee-text{opacity: 0.5;
  color: #000000;
  font-family: "Google Sans";
  font-size: 13px;
  font-weight: bold;margin-bottom:5px;}
  
 .fee-hour{ color: #241E1F;
  font-family: "Google Sans";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;} 
  
 .confirm-pay{height: 48px;
  width: 330px;
  border-radius: 6px;
  background-color: #8BC541;
  border:0px;
   color: #FFFFFF;
  font-family: "Google Sans";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin:10px 0px;} 
  
  .profile-btn{height: 24px;
  width: 44px;
  border-radius: 4px;
  background-color: #4DB130;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  padding:6px;
  margin:8px 0px;}
  
  .profile-btn:hover{color:#fff;}
  .review{  color: rgba(0,0,0,0.44);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 24px;
  padding-left:5px;
  font-weight:600;
  margin:0px;}
  
 .review-head{opacity: 0.5;
  color: #000000;
  font-family: "Google Sans";
  font-size: 13px;
  font-weight: bold;
  text-transform:uppercase;} 
  
 .read-review{ 
 color: #1AA7D5;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 20px;
    display: block;} 
  
  /* recruiiter */
  .rec-outer{
  min-height: 576px;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin:15px 0px;}
  
 .text-blog2{padding:15px;} 
 .skill-required22{color: rgba(0,0,0,0.44);
  font-size: 11px;
  font-weight: bold;
  text-transform:uppercase;
  margin-top:30px;}
  
 .all-time2 { height: 40px;
  width: auto;
  border-radius: 6px;
  background-color: #FFFFFF;
  border:0px;
  padding:5px 10px;
   color: #241E1F;
  font-size: 14px;} 
  
 .job-nav2{float:right;} 
  .job-nav2 li{margin:5px 10px;}
 .job-nav2 .dropdown-toggle::after {border:0px;}
  .subs-plan li{border-bottom:1px solid rgba(0,0,0,.03);}
  
 .min-hight{min-height: 536px;}
  .submit-button-up{ height: 48px;
  width: 145px;
  border-radius: 6px;
  background-color: rgba(139,197,65,0.06);
  color: #8BC541;
  font-family: "Google Sans";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
  border:0px;
  margin:0 auto;
  display:block;
}
  
  
  
  
  
  




